@page "/simple-parts-search"
@page "/"


@using DataAccessLibrary.DataService.Shatem;
@using DataAccessLibrary.Models.Shatem.DataAccess;
@using DataAccessLibrary.Models.Shatem.Models;
@using Models.Search_Models;
@inject IShatemAccess ShatemAccess;
@inject IShatemDataService ShatemDataService

<h3>Поиск по партномеру</h3>



<div class="row">
    <div class="col-md-2 card">
    <EditForm Model="@searchModel" OnValidSubmit="@SearchParts">
        <DataAnnotationsValidator />
        <div class="col-md-12 card-body">
            <div class="form-group col-md-12">
                <label for="partNumber">Партномер</label>
                <InputText class="form-control" @bind-Value="@searchModel.PartNumber" id="partNumber" />
                <ValidationMessage For="@(() => searchModel.PartNumber)" />
            </div>
                <br />
                <div class="form-group col-md-12">
                <label for="tradeMarkName">Бренд</label>
                <InputText class="form-control" @bind-Value="@searchModel.TradeMarkName" id="tradeMarkName" />
                <ValidationMessage For="@(() => searchModel.TradeMarkName)" />
            </div>
            <br />

                <div class="form-group form-inline row col-md-12">
                    <div class="col-md-8">
                        <label for="includeAnalogs">Искать аналоги</label>
                    </div>
                    <div class="col-md-4">
                        <InputCheckbox class="form-check ml-2" @bind-Value="@searchModel.IncludeAnalogs" id="includeAnalogs" />
                    </div>
                </div>
                <br />
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </EditForm>
    </div>
    <div class="col-md-10">
        @if (parts != null && parts.Count > 0)
        {
            <h4>Результаты поиска</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Производитель</th>
                        <th>Партномер</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Единица</th>
                        <th>Наличие</th>
                        <th>Цена</th>
                        <th>Склад</th>
                        <!-- Add more columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var part in parts)
                    {
                        <tr>
                            <td>@part.Id</td>
                            <td>@part.TradeMarkName</td>
                            <td><a href="@($"/article-details/{part.Id}")">@part.Code</a></td>
                            <td><a href="@($"/article-details/{part.Id}")">@part.Name</a></td>
                            <td>@part.Description</td>
                            <td>@part.UnitOfMeasure</td>
                            <td>@part.AvailableQty</td>
                            <td>@part.Price</td>
                            <td>@part.stock</td>
                            <!-- Display more data as needed -->
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if (searching)
        {

            <div class="spinner-border text-success" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>

        }
        else
        {
            <p>Нет результатов.</p>
        }
    </div>
</div>

